@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, sans-serif;
  background-color: #F4F4F4;
  color: #333333;
  margin: 0;
  padding: 0;
}

.page-content {
  padding: 2rem;
  text-align: center;
}

h2 {
  color: #00A86B;
}

